@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
	font-family: 'Roboto', sans-serif;
}
* {
	margin: 0;
	padding: 0;
}
i {
	margin-right: 10px;
}

/*------------------------*/
input:focus,
button:focus,
.form-control:focus{
	outline: none;
	box-shadow: none;
}
.form-control:disabled, .form-control[readonly]{
	background-color: #fff;
}
/*----------step-wizard------------*/
.d-flex{
	display: flex;
}
.justify-content-center{
	justify-content: center;
}
.align-items-center{
	align-items: center;
}

/*---------signup-step-------------*/
.bg-color{
	background-color: #333;
}
.signup-step-container{
	padding: 65px 0px;
	padding-bottom: 60px;
}




    .wizard .nav-tabs {
        position: relative;
        margin-bottom: 0;
        border-bottom-color: transparent;
    }

    .wizard > div.wizard-inner {
            position: relative;
    margin-bottom: 50px;
    text-align: center;
    }

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 19px;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 40px;
    height: 40px;
    line-height: 37px;
    display: inline-block;
    border-radius: 50%;
    background: #fff;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 16px;
    color: #0e214b;
    font-weight: 500;
    border: 1px solid #ddd;
}
span.round-tab i{
    color:#555555;
}
.wizard li.active span.round-tab {
        background: #0db02b;
    color: #fff;
    border-color: #0db02b;
}
.wizard li.active span.round-tab i{
    color: #5bc0de;
}
.wizard .nav-tabs > li.active > a i{
	color: #0db02b;
}

.wizard .nav-tabs > li {
    width: 10%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: red;
    transition: 0.1s ease-in-out;
}



.wizard .nav-tabs > li a {
    width: 30px;
    height: 30px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
    background-color: transparent;
    position: relative;
    top: 0;
}
.wizard .nav-tabs > li a i{
	position: absolute;
    top: -15px;
    font-style: normal;
    font-weight: 400;
    white-space: nowrap;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    font-weight: 700;
    color: #000;
}

    .wizard .nav-tabs > li a:hover {
        background: transparent;
    }

.wizard .tab-pane {
    position: relative;
    padding-top: 20px;
}


.wizard h3 {
    margin-top: 0;
}
.prev-step,
.next-step{
    font-size: 13px;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    margin-top: 30px;
}
.next-step{
	background-color: #0db02b;
}
.skip-btn{
	background-color: #cec12d;
}
.step-head{
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
}
.term-check{
	font-size: 14px;
	font-weight: 400;
}
.custom-file {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 40px;
    margin-bottom: 0;
}
.custom-file-input {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 40px;
    margin: 0;
    opacity: 0;
}
.custom-file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: 40px;
    padding: .375rem .75rem;
    font-weight: 400;
    line-height: 2;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
.custom-file-label::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: 38px;
    padding: .375rem .75rem;
    line-height: 2;
    color: #495057;
    content: "Browse";
    background-color: #e9ecef;
    border-left: inherit;
    border-radius: 0 .25rem .25rem 0;
}
.footer-link{
	margin-top: 30px;
}
.all-info-container{

}
.list-content{
	margin-bottom: 10px;
}
.list-content a{
	padding: 10px 15px;
    width: 100%;
    display: inline-block;
    background-color: #f5f5f5;
    position: relative;
    color: #565656;
    font-weight: 400;
    border-radius: 4px;
}
.list-content a[aria-expanded="true"] i{
	transform: rotate(180deg);
}
.list-content a i{
	text-align: right;
    position: absolute;
    top: 15px;
    right: 10px;
    transition: 0.5s;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #fdfdfd;
}
.list-box{
	padding: 10px;
}
.signup-logo-header .logo_area{
	width: 200px;
}
.signup-logo-header .nav > li{
	padding: 0;
}
.signup-logo-header .header-flex{
	display: flex;
	justify-content: center;
	align-items: center;
}
.list-inline li{
    display: inline-block;
}
.pull-right{
    float: right;
}
/*-----------custom-checkbox-----------*/
/*----------Custom-Checkbox---------*/
input[type="checkbox"]{
    position: relative;
    display: inline-block;
    margin-right: 5px;
}
input[type="checkbox"]::before,
input[type="checkbox"]::after {
    position: absolute;
    content: "";
    display: inline-block;   
}
input[type="checkbox"]::before{
    height: 16px;
    width: 16px;
    border: 1px solid #999;
    left: 0px;
    top: 0px;
    background-color: #fff;
    border-radius: 2px;
}
input[type="checkbox"]::after{
    height: 5px;
    width: 9px;
    left: 4px;
    top: 4px;
}
input[type="checkbox"]:checked::after{
    content: "";
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: rotate(-45deg);
}
input[type="checkbox"]:checked::before{
    background-color: #18ba60;
    border-color: #18ba60;
}






@media (max-width: 767px){
	.sign-content h3{
		font-size: 40px;
	}
	.wizard .nav-tabs > li a i{
		display: none;
	}
	.signup-logo-header .navbar-toggle{
		margin: 0;
		margin-top: 8px;
	}
	.signup-logo-header .logo_area{
		margin-top: 0;
	}
	.signup-logo-header .header-flex{
		display: block;
	}
}


select {
    background-color: #f2f2f2;
    padding: 8px;
    border: none;
    border-radius: 4px;
    font-size: 1vmax;
    margin-left: 8px;
  }

  .zillow{
    display: none;
  }



  /* Images CSS */
  #images{
    /* display: none; */
  }


  :root{
    --cr1:#F36E45;
    --cr2:#fff;
    --cr3:#000000da;
    --cr4:#000000a1;
    --cr5:#BEB4B1;
    --fs1:34px;
    --fs2:24px;
    --fs3:20px;
    --fs4:16px;
    --fs5:14px;
  }
  
  /* the same attribute */
  .cr1{
    color: var(--cr1);
  }
  .c2{
    color:  var(--cr2);
  }
  .cr3{
    color:  var(--cr3);
  }
  .cr4{
    color:  var(--cr4);
  }
  .cr5{
    color:  var(--cr5);
  }
  .fs1{
    font-size: 34px;
  }
  .fs2{
    font-size: 24px;
  }
  .fs3{
    font-size: 20px;
  }
  .fs4{
    font-size: 16px;
  }
  .fs5{
    font-size: 14px;
  }
  /* end the same attribute */
  @font-face {
    src: url(ProductSansRegular_0.ttf);
    font-family: product;
  }
  *{padding: 0px;margin: 0px;box-sizing: border-box;}
  body,html{width:100%;height:100%;}
  /* [class*="container"]{
    max-width: 1170px !important;
  } */
  
  .bg-product{
    /* SET Height cho nó rồi bảo sao ko lỗi? */
    /*height: 446px;*/
    background: #d1d7f5;
    /* overflow: hidden; */
  }
  #sliderproduct{
    width: 100%;
  }
  #sliderproduct .carousel-inner {
    overflow: visible;
  }
  
  #sliderproduct .col-sm-6.image {
    background: #fff;
    box-shadow: 0px 4px 8px 0px #959595;
    position: relative;
    /* Thêm cái của nợ này vào bảo sao nó ko tràn bờ đê */
    /*top: -44px;
    padding: 100px;
    padding-top: 40px;*/
  }
  .item {
    padding: 20px 20px 40px 20px;
  }
  
  .col-sm-6.image .item img.img-fluid {
    /* Ai mướn thêm cái vào làm phá bố cục css của người ta.. mún trang web đẹp thì phải lựa cái ảnh đẹp đẹp vào rồi set cái độ rộng cho nó vừa là được rồi */
    /*min-width: 100%;*/
    /* width: 315px; */
  }
  .col-sm-6.image h1 {
    margin-bottom: 20px;
  }
  
  
  #sliderproduct .top a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    padding: 14px 22px;
    background: #e0794f;
    box-sizing: border-box !important;
    text-align: center;
    margin: 0px 2px;
    display: block;
    color: #fff;
    width: 96px;
  }
  
  #sliderproduct .col-sm-4.mr-auto {
    margin-top: 22px;
  }
  
  *{}
  
  #sliderproduct p.cr1 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
  }
  
  #sliderproduct .col-sm-6:last-child {
    /* Cần nâng cao thêm kiến thức về sử dụng padding */
    padding-top: 27px;
    padding-bottom: 27px;
  }
  #sliderproduct .details p.d-inline-block {
    color: #e0794f;
  }
  
  #sliderproduct .details .fa {
    color: #e0794f;
    padding: 0px 3px;
  }
  
  #sliderproduct .rating {
    margin: 23px 0px;
  }
  
  #sliderproduct .details .btn {
    text-transform: uppercase;
    font-weight: 400;
    padding: 16px 22px;
    background: #e0794f;
    color: #fff;
    border-radius: 81px;
    font-size: 14px;
    display: inline-block;
  }
  
  #sliderproduct .details h2 {
    margin: 25px 0px 30px 0px;
    font-size: 24px;
    font-weight: 700;
  }
  
  #sliderproduct .details p.cr4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 0px;
  }
  #sliderproduct .carousel-item{
    transition: 0.4s;
  }
  
  
  #sliderproduct a.carousel-control-prev, #sliderproduct a.carousel-control-next {
    border-radius: 50%;
    background-color: brown;
    width: 46px;
    height: 46px;
    font-size: 30px;
    text-align: center;
    line-height: 40px;
    opacity: 1;
    top: 50%;
    transform: translate(-50%,-60%);
  }
  
  .bg {
    height: 570px;
    overflow: hidden;
  }
  
  #sliderproduct ol.carousel-indicators {
    display: none;
  }

  /* slider p2 */
  #sliderproductP{
    width: 100%;
  }
  #sliderproductP .carousel-inner {
    overflow: visible;
  }
  
  #sliderproductP .col-sm-6.image {
    background: #fff;
    box-shadow: 0px 4px 8px 0px #959595;
    position: relative;
    /* Thêm cái của nợ này vào bảo sao nó ko tràn bờ đê */
    /*top: -44px;
    padding: 100px;
    padding-top: 40px;*/
  }
  
  
  #sliderproductP .top a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    padding: 14px 22px;
    background: #e0794f;
    box-sizing: border-box !important;
    text-align: center;
    margin: 0px 2px;
    display: block;
    color: #fff;
    width: 96px;
  }
  
  #sliderproductP .col-sm-4.mr-auto {
    margin-top: 22px;
  }
  
  #sliderproductP p.cr1 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
  }
  
  #sliderproductP .col-sm-6:last-child {
    /* Cần nâng cao thêm kiến thức về sử dụng padding */
    padding-top: 27px;
    padding-bottom: 27px;
  }
  #sliderproductP .details p.d-inline-block {
    color: #e0794f;
  }
  
  #sliderproductP .details .fa {
    color: #e0794f;
    padding: 0px 3px;
  }
  
  #sliderproductP .rating {
    margin: 23px 0px;
  }
  
  #sliderproductP .details .btn {
    text-transform: uppercase;
    font-weight: 400;
    padding: 16px 22px;
    background: #e0794f;
    color: #fff;
    border-radius: 81px;
    font-size: 14px;
    display: inline-block;
  }
  
  #sliderproductP .details h2 {
    margin: 25px 0px 30px 0px;
    font-size: 24px;
    font-weight: 700;
  }
  
  #sliderproductP .details p.cr4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 0px;
  }
  #sliderproductP .carousel-item{
    transition: 0.4s;
  }
  
  
  #sliderproductP a.carousel-control-prev, #sliderproductP a.carousel-control-next {
    border-radius: 50%;
    background-color: brown;
    width: 46px;
    height: 46px;
    font-size: 30px;
    text-align: center;
    line-height: 40px;
    opacity: 1;
    top: 50%;
    transform: translate(-50%,-60%);
  }
  
  
  #sliderproductP ol.carousel-indicators {
    display: none;
  }
  /* slider p 2 ends */


  /* slider p3 */
  #sliderproductP3{
    width: 100%;
  }
  #sliderproductP3 .carousel-inner {
    overflow: visible;
  }
  
  #sliderproductP3 .col-sm-6.image {
    background: #fff;
    box-shadow: 0px 4px 8px 0px #959595;
    position: relative;
    /* Thêm cái của nợ này vào bảo sao nó ko tràn bờ đê */
    /*top: -44px;
    padding: 100px;
    padding-top: 40px;*/
  }
  
  
  
  #sliderproductP3 .top a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    padding: 14px 22px;
    background: #e0794f;
    box-sizing: border-box !important;
    text-align: center;
    margin: 0px 2px;
    display: block;
    color: #fff;
    width: 96px;
  }
  
  #sliderproductP3 .col-sm-4.mr-auto {
    margin-top: 22px;
  }
  
  #sliderproductP3 p.cr1 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
  }
  
  #sliderproductP3 .col-sm-6:last-child {
    /* Cần nâng cao thêm kiến thức về sử dụng padding */
    padding-top: 27px;
    padding-bottom: 27px;
  }
  #sliderproductP3 .details p.d-inline-block {
    color: #e0794f;
  }
  
  #sliderproductP3 .details .fa {
    color: #e0794f;
    padding: 0px 3px;
  }
  
  #sliderproductP3 .rating {
    margin: 23px 0px;
  }
  
  #sliderproductP3 .details .btn {
    text-transform: uppercase;
    font-weight: 400;
    padding: 16px 22px;
    background: #e0794f;
    color: #fff;
    border-radius: 81px;
    font-size: 14px;
    display: inline-block;
  }
  
  #sliderproductP3 .details h2 {
    margin: 25px 0px 30px 0px;
    font-size: 24px;
    font-weight: 700;
  }
  
  #sliderproductP3 .details p.cr4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 0px;
  }
  #sliderproductP3 .carousel-item{
    transition: 0.4s;
  }
  
  
  #sliderproductP3 a.carousel-control-prev, #sliderproductP3 a.carousel-control-next {
    border-radius: 50%;
    background-color: brown;
    width: 46px;
    height: 46px;
    font-size: 30px;
    text-align: center;
    line-height: 40px;
    opacity: 1;
    top: 50%;
    transform: translate(-50%,-60%);
  }
  
  
  #sliderproductP3 ol.carousel-indicators {
    display: none;
  }
  /* slider p 3 ends */


  /* slider p4 */
  #sliderproductP4{
    width: 100%;
  }
  #sliderproductP4 .carousel-inner {
    overflow: visible;
  }
  
  #sliderproductP4 .col-sm-6.image {
    background: #fff;
    box-shadow: 0px 4px 8px 0px #959595;
    position: relative;
  }
  
  #sliderproductP4 .top a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    padding: 14px 22px;
    background: #e0794f;
    box-sizing: border-box !important;
    text-align: center;
    margin: 0px 2px;
    display: block;
    color: #fff;
    width: 96px;
  }
  
  #sliderproductP4 .col-sm-4.mr-auto {
    margin-top: 22px;
  }
  
  #sliderproductP4 p.cr1 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
  }
  
  #sliderproductP4 .col-sm-6:last-child {
    /* Cần nâng cao thêm kiến thức về sử dụng padding */
    padding-top: 27px;
    padding-bottom: 27px;
  }
  #sliderproductP4 .details p.d-inline-block {
    color: #e0794f;
  }
  
  #sliderproductP4 .details .fa {
    color: #e0794f;
    padding: 0px 3px;
  }
  
  #sliderproductP4 .rating {
    margin: 23px 0px;
  }
  
  #sliderproductP4 .details .btn {
    text-transform: uppercase;
    font-weight: 400;
    padding: 16px 22px;
    background: #e0794f;
    color: #fff;
    border-radius: 81px;
    font-size: 14px;
    display: inline-block;
  }
  
  #sliderproductP4 .details h2 {
    margin: 25px 0px 30px 0px;
    font-size: 24px;
    font-weight: 700;
  }
  
  #sliderproductP4 .details p.cr4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 0px;
  }
  #sliderproductP4 .carousel-item{
    transition: 0.4s;
  }
  
  
  #sliderproductP4 a.carousel-control-prev, #sliderproductP4 a.carousel-control-next {
    border-radius: 50%;
    background-color: brown;
    width: 46px;
    height: 46px;
    font-size: 30px;
    text-align: center;
    line-height: 40px;
    opacity: 1;
    top: 50%;
    transform: translate(-50%,-60%);
  }
  
  
  #sliderproductP4 ol.carousel-indicators {
    display: none;
  }
  /* slider p 4 ends */
  
  .footer {
    position: fixed;
    bottom: 0;
    padding: 15px;
    width: 100%;
    text-align: center;
    background-color:#292929;
    color: #fff;
    font-family: sans-serif;
    font-size: 14px;
  }
  .footer img {
    width: 26px;
    position: relative;
    top: 0px;
    left: -3px;
  }
  .footer a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
  }